.cover {
  max-width: 1184px;
  min-height: calc(0.625 * (100vw - 48px * 2));
  position: relative;
  margin: 0 48px 92px 48px;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0 0 92px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0 0 88px 0;
  }
}

@media screen and (max-width: 720px) {
  .cover {
    margin: 0 0 70px 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 0 0 64px 0;
  }
}

.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 0;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .cover__title {
    max-width: calc(0.9 * 100vw);
    font-size: calc(0.1 * 100vw);
    line-height: calc(0.1 * 100vw);
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}

.cover__title {
  max-width: 560px;
  font-weight: 700;
  font-size: 62px;
  line-height: 66px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 0;
  z-index: 1;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .cover__title {
    max-width: calc(0.9 * 100vw);
    font-size: calc(0.1 * 100vw);
    line-height: calc(0.1 * 100vw);
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;

  }
}

.cover__subtitle {
  font-family: halyard-text, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;

  }


.cover__link {
  color: white;
  text-decoration-line: none;
}

.cover__background {
  background-image: url(../images/cover-image.png);
  max-width: 1184px;
  height: calc(0.625 * (100vw - 48px * 2));
  max-height: 740px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cover__background::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.3s ease-out;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
    min-height: calc(0.625 * 100vw);
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
    min-height: calc(0.625 * 100vw);
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
    min-height: calc(0.625 * 100vw);
  }
}